In [68]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import numpy as np



MovieUrl = 'http://www.imdb.com/chart/top'

response = requests.get(MovieUrl)
soup = BeautifulSoup(response.text, 'lxml')
IMDBP=pd.DataFrame()

In [64]:
pp="https://www.imdb.com/title/tt0111161"
headers = {"Accept-Language": "en-US,en;q=0.5"}
response1 = requests.get(pp, headers=headers)
soup1 = BeautifulSoup(response1.text, 'html.parser')
name=soup1.find("div", class_="sc-80d4314-1 fbQftq").h1.get_text()
name

'The Shawshank Redemption'

In [65]:
MovieUrl = 'http://www.imdb.com/chart/top'

response = requests.get(MovieUrl)
soup = BeautifulSoup(response.text, 'lxml')
link_=soup.find_all(class_="titleColumn")
links_=[]
title=[]

for id_ in link_:
    
    final_url=id_.find("a").get("href") 
    url="http://imdb.com" + final_url
    links_.append(url)

links_

for i in links_:

    headers = {"Accept-Language": "en-US,en;q=0.5"}
    response1 = requests.get(i, headers=headers)
    soup1 = BeautifulSoup(response1.text, 'html.parser')

    title_=soup1.find("div", class_="sc-80d4314-1 fbQftq").h1.get_text()
    



    print(title_)
    title.append(title_)
    
#Le meto manualmente el valor que me daba fallo en el except y no sabia como indexarlo

The Shawshank Redemption
The Godfather
The Dark Knight
The Godfather Part II
12 Angry Men
Schindler's List
The Lord of the Rings: The Return of the King
Pulp Fiction
The Lord of the Rings: The Fellowship of the Ring
The Good, the Bad and the Ugly
Forrest Gump
Fight Club
Inception
The Lord of the Rings: The Two Towers
Star Wars: Episode V - The Empire Strikes Back
The Matrix
Goodfellas
One Flew Over the Cuckoo's Nest
Se7en
Seven Samurai
It's a Wonderful Life
The Silence of the Lambs
City of God
Saving Private Ryan
Life Is Beautiful
Interstellar
The Green Mile
Star Wars: Episode IV - A New Hope
Terminator 2: Judgment Day
Back to the Future
Spirited Away
Psycho
The Pianist
Parasite
Léon: The Professional
The Lion King
Gladiator
American History X
The Departed
The Usual Suspects
The Prestige
Whiplash
Casablanca
The Intouchables
Harakiri
Grave of the Fireflies
Modern Times
Once Upon a Time in the West
Rear Window
City Lights
Alien
Cinema Paradiso
Apocalypse Now
Memento
Indiana Jones and the Raiders of the Lost Ark
Django Unchained
WALL·E
The Lives of Others
Sunset Blvd.
Paths of Glory
The Shining
The Great Dictator
Witness for the Prosecution
Avengers: Infinity War
Aliens
American Beauty
Spider-Man: Into the Spider-Verse
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
The Dark Knight Rises
Oldboy
Joker
Amadeus
Toy Story
Inglourious Basterds
Braveheart
Coco
The Boat
Top Gun: Maverick
Avengers: Endgame
Princess Mononoke
Once Upon a Time in America
Good Will Hunting
Your Name.
Requiem for a Dream
Toy Story 3
Singin' in the Rain
3 Idiots
High and Low
Star Wars: Episode VI - Return of the Jedi
2001: A Space Odyssey
Eternal Sunshine of the Spotless Mind
Reservoir Dogs
Capernaum
The Hunt
Citizen Kane
Lawrence of Arabia
M
Come and See
North by Northwest
Vertigo
Amélie
A Clockwork Orange
The Apartment
Double Indemnity
Full Metal Jacket
Ikiru
Scarface
Hamilton
The Sting
To Kill a Mockingbird
Heat
Up
Taxi Driver
Incendies
Metropolis
L.A. Confidential
A Separation
Snatch
Bicycle Thieves
Die Hard
Indiana Jones and the Last Crusade
Like Stars on Earth
1917
Downfall
For a Few Dollars More
Batman Begins
Dangal
The Kid
Some Like It Hot
All About Eve
The Father
Green Book
The Wolf of Wall Street
Judgment at Nuremberg
Ran
Casino
Pan's Labyrinth
Unforgiven
There Will Be Blood
The Truman Show
Spider-Man: No Way Home
The Sixth Sense
A Beautiful Mind
Yojimbo
Monty Python and the Holy Grail
The Treasure of the Sierra Madre
Shutter Island
Jurassic Park
Rashomon
The Great Escape
Kill Bill: Vol. 1
No Country for Old Men
Finding Nemo
The Elephant Man
The Thing
Chinatown
Raging Bull
Gone with the Wind
V for Vendetta
Inside Out
Lock, Stock and Two Smoking Barrels
Dial M for Murder
The Secret in Their Eyes
Howl's Moving Castle
The Bridge on the River Kwai
Three Billboards Outside Ebbing, Missouri
Trainspotting
Warrior
Gran Torino
Fargo
Prisoners
My Neighbor Totoro
Million Dollar Baby
Catch Me If You Can
The Gold Rush
Children of Heaven
Blade Runner
On the Waterfront
12 Years a Slave
Before Sunrise
The Third Man
Wild Strawberries
Harry Potter and the Deathly Hallows: Part 2
Ben-Hur
The General
Gone Girl
The Deer Hunter
The Grand Budapest Hotel
In the Name of the Father
Barry Lyndon
The Wages of Fear
Sherlock Jr.
Mr. Smith Goes to Washington
Hacksaw Ridge
Memories of Murder
Klaus
Wild Tales
The Seventh Seal
Room
Mad Max: Fury Road
Mary and Max
How to Train Your Dragon
The Big Lebowski
Monsters, Inc.
Jaws
Tokyo Story
The Passion of Joan of Arc
Dead Poets Society
Hotel Rwanda
Ford v Ferrari
Rocky
Platoon
Pather Panchali
Stand by Me
The Terminator
Spotlight
Everything Everywhere All at Once
Rush
Logan
Ratatouille
Network
Into the Wild
The Wizard of Oz
Before Sunset
Groundhog Day
The Exorcist
Jai Bhim
To Be or Not to Be
The Best Years of Our Lives
The Incredibles
The Battle of Algiers
Hachi: A Dog's Tale
The Grapes of Wrath
Rebecca
Amores perros
My Father and My Son
Pirates of the Caribbean: The Curse of the Black Pearl
La Haine
Cool Hand Luke
The 400 Blows
Persona
It Happened One Night
The Handmaiden
The Sound of Music
Life of Brian
Dersu Uzala
The Help
Gandhi
Aladdin
The Iron Giant

In [70]:
IMDBP["title"]=title
IMDBP

                        title
0    The Shawshank Redemption
1               The Godfather
2             The Dark Knight
3       The Godfather Part II
4                12 Angry Men
..                        ...
245               Dersu Uzala
246                  The Help
247                    Gandhi
248                   Aladdin
249            The Iron Giant

[250 rows x 1 columns]

In [71]:
ratings=soup.find_all(class_="posterColumn")
rates_=[]

for indexa in ratings:

    rate=round(float(indexa.find("span", attrs={"name":"ir"})["data-value"]),2)


    rates_.append(rate)


IMDBP["Rates"]=rates_
IMDBP

                        title  Rates
0    The Shawshank Redemption   9.23
1               The Godfather   9.16
2             The Dark Knight   8.99
3       The Godfather Part II   8.98
4                12 Angry Men   8.95
..                        ...    ...
245               Dersu Uzala   8.01
246                  The Help   8.01
247                    Gandhi   8.01
248                   Aladdin   8.00
249            The Iron Giant   8.00

[250 rows x 2 columns]

In [72]:
ratings=soup.find_all(class_="ratingColumn imdbRating")
nvotes=[]
for index in ratings:

    votes=index.find("strong").get("title").split("on")[1].split(" ")[1].replace(",","")
    nvotes.append(int(votes))


nvotes

IMDBP["NVotes"]=nvotes

IMDBP

                        title  Rates   NVotes
0    The Shawshank Redemption   9.23  2652946
1               The Godfather   9.16  1838990
2             The Dark Knight   8.99  2625257
3       The Godfather Part II   8.98  1260059
4                12 Angry Men   8.95   783348
..                        ...    ...      ...
245               Dersu Uzala   8.01    29812
246                  The Help   8.01   457940
247                    Gandhi   8.01   231666
248                   Aladdin   8.00   417269
249            The Iron Giant   8.00   196537

[250 rows x 3 columns]

In [73]:
IMDBP.to_csv("IMDBP", sep='\t')